<sebm-google-map 
  [latitude]="lat"
  [longitude]="lng"
  [zoom]="zoom"
  [disableDefaultUI]="false"
  [zoomControl]="false"
  (mapClick)="mapClicked($event)"
  (centerChange) = "centerChange($event)"
  backgroundColor="gray"
  >
  <!--DRAWS THE MARKERS mm22FOR LOCATIONS BE TAGGED-->
  <sebm-google-map-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
    
    <sebm-google-map-info-window>
      <strong>Site Content</strong>
      <div>
        <span>Phone</span>
        <a href="tel:{{markerObj.phone}}">{{markerObj.phone}}</a>
      </div>
      <div *ngFor="let opp of markerObj.opportunities">
        <div>{{opp}}</div>
      </div>
    </sebm-google-map-info-window>

    <!-- <div class="marker-dialog"></div> -->
    
  </sebm-google-map-marker>
  <!--DRAWS A CIRCLE WITH DIFFERENT OPTIONS-->
  <sebm-google-map-circle [latitude]="lat + 0.3" [longitude]="lng" 
      [radius]="5000"
      [fillColor]="'red'"
      [circleDraggable]="true"
      [editable]="true">
  </sebm-google-map-circle>

</sebm-google-map>

<button (click)="showDialog()">Show Dialog</button>